@import url("node_modules/normalize.css/normalize.css");

body {
    display: grid;
    height: 100vh;
    font: small/1.5em Verdana, Helvetica, Arial, sans-serif;
    margin: 0;
} 

.charactername { 
    display: flex;
    justify-content: center;
}

.charactername input {
    border: none;
}

.charactername:focus {
    border: 1px solid black
}

.meta {
    background-color: red;
    width: 50%
}
