@import url("node_modules/normalize.css/normalize.css");

body {
    background-color: green;
    /* font: small/1.5em Verdana, Helvetica, Arial, sans-serif; */
    margin: 0 1.5%;
} 

.sheet {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* grid-template-rows: 10vw 30vw 10vw; */
    grid-gap: 1em;
    width: 100%;
    /* grid-template-areas:
        "header header-2"
        "sidebar content-1 content-2"
        "sidebar-2 content-3 content-4"
        "footer footer footer"; */
}

.sheet > div {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
}

.names-entry { 
    /* grid-area: header; */
    grid-column: 1 / span 1;
}

.names-entry > * {
    padding: 10px;
    flex: 1 1 24%;
}

/* .charactername input { */
    border: none;
}

.charactername:focus {
    border: 1px solid black
}

.meta {
    /* grid-area: header-2; */
    display: flex;
    flex-wrap: wrap;
    grid-column: span 5;
}

.meta > * {
    padding: 10px;
    flex: 1 1 24%;
}

.attributes {
    
}

.primary {
    
}

.saving-throws {
    
}

.combat {
    
}

.equipment {
    
}

.persona {

} 