@import url("node_modules/normalize.css/normalize.css");

.attributes {
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}

body {
    background-color: green;
    margin: 2% 0;
} 

.meta {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 2;
}

.meta > * {
    padding: 10px;
    flex: 1 1 24%;
}

.names-entry { 
    display: flex;
    flex-wrap: wrap;
    grid-column: span 1;
}

.names-entry:focus {
    border: 1px solid black;
}

.other-proficiencies-languages {
    display: flex;
    flex-wrap: wrap;
}

.playername {
    margin-top: 10px;
}

.primary {
    display: flex;
    flex-wrap: wrap;
}

/*.primary > * {
    padding: 10px;
    flex: 1 1 24%;
}*/

/*.saving-throws {
    display: flex;
    flex-wrap: wrap;
}

.saving-throws > * {
    padding: 10px;
    flex: 1 1 24%;
}*/

.saving-throws label {
    color: blue;
}

.sheet {
    width: 100%;
    height: 75%;
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-gap: 1em;
    justify-content: center;
    /* grid-template-areas:
        "header header-2"
        "sidebar content-1 content-2"
        "sidebar-2 content-3 content-4"
        "footer footer footer"; */
}

.sheet > div {
    background-color: white;
    border: 1px solid black;
    border-radius: 7px;
    padding: 10px;
}

.sheet * input {
    border: none;
    border-bottom: 1px solid black;
    font-size: 14px;
}

.sheet * label {
    display: flex;
}

textarea {
    resize: none;
}